body {
    background-color: rgb(216, 216, 216);
}
h1 {
    color: white;
    background-color: orange;
    padding: 8px;
    border-radius: 10px;
}
span { 
    color: orange;
    font-weight: 700;

}
ul li { 
    font-weight: 700;}